page {
  position: relative;
  background-color: #f2f4f5;
}

// 导航栏样式
.nav-box {
  width: 750rpx;
  height: 80rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  .left {
    margin-left: 30rpx;

    .logo {
      width: 160rpx;
      height: 60rpx;
    }
  }

  .center {
    width: 332rpx;
    height: 36rpx;
    font-size: 26rpx;
    color: #9D9E9E;
    letter-spacing: 4.12rpx;
  }

  .right {
    margin-right: 30rpx;

    image {
      width: 44rpx;
      height: 28rpx;
    }
  }
}
//下拉框样式
.next-box{
  display: flex;
  flex-wrap: wrap;
  view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750rpx;
  }
}
// banner 大图
.banner {
  margin-bottom: 22rpx;

  image {
    width: 750rpx;
    height: 422rpx;
  }
}

// 关于我们
.about-box {
  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #3D3D3D;
      letter-spacing: 3.2rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #C000FF, #00C7EF);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
    }
  }

  .center {
    width: 750rpx;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    image {
      margin: 26rpx 0;
      width: 635.6rpx;
      height: 358rpx;
    }

    .info {
      width: 638rpx;
      height: 280rpx;
      font-size: 28rpx;
      color: #6D6D6E;
      letter-spacing: 0;
      line-height: 40rpx;
      margin-bottom: 74rpx;
    }
  }
}

// Ui 与 H5
.UI {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 750rpx;
  height: 300rpx;
  background-image: linear-gradient(-133deg, #FF769B 0%, #FFC29C 100%);
  color: #ffffff;

  .top {
    margin-top: 34rpx;
    font-size: 36rpx;
    letter-spacing: 2rpx;
    line-height: 50rpx;
  }

  .center {
    width: 676rpx;
    height: 80rpx;
    margin: 12rpx 0 36rpx 0;
    font-size: 28rpx;
    letter-spacing: 0;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172rpx;
    height: 50rpx;
    border: 1px solid #FFFFFF;
    border-radius: 32rpx;
    font-size: 28rpx;
    letter-spacing: 0;
    margin-bottom: 38rpx;
  }
}

// 蒙层

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* 1vh 等于设备高度的 1% */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.white-box-center {
  width: 574rpx;
  height: 450rpx;
  background-color: #fff;
  z-index: 5;
  color: #ffffff;

  .title {
    font-size: 36rpx;
    letter-spacing: 0;
    margin-top: 100rpx;
    margin-left: 108rpx;
  }

  .desc {
    letter-spacing: 0;
    line-height: 46rpx;
    font-size: 32rpx;
    margin-left: 108rpx;
    margin-top: 10rpx;
  }
}

.white-box-center.a {
  background-image: linear-gradient(-137deg, #FF4A5A 0%, #FFCB8A 100%);
  border-radius: 4px;
}

.white-box-center.b {
  background-image: linear-gradient(-137deg, #5897FF 0%, #B688FF 100%);
  border-radius: 4px;
}

.UI.H5 {
  background-image: linear-gradient(-135deg, #6BBBFF 0%, #B9A7FF 100%);
  margin: 30rpx 0;
}

// 教学环境
.environment {
  padding: 50rpx 0 76rpx 0;
  width: 750rpx;
  height: 962rpx;
  background: #3D3D3D;

  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #F2F4F5;
      letter-spacing: 3.2rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #C75FFF, #FF9696);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
      margin-bottom: 26rpx;
    }
  }

  .center {
    .item {
      position: relative;
      display: flex;
      width: 568rpx;
      margin: 0 auto;

      image {
        display: block;
        width: 301.8rpx;
        height: 284rpx;
      }

      .right-image {
        margin-left: 266.4rpx;
      }

      .white-box {
        width: 284rpx;
        height: 284rpx;
        background-color: #F1F3F4;
        justify-content: center;
        align-items: center;

        .desc.a {
          margin-top: 72.6rpx;
          margin-left: 46.2rpx;
        }

        .desc.b {
          margin-top: 41.8rpx;
          margin-left: 24.2rpx;
        }

        .desc.c {
          margin-top: 61.6rpx;
          margin-left: 46.2rpx;
        }

        .title {
          font-size: 17.6px;
          color: #6D6D6E;
          letter-spacing: 0;
        }

        .info {
          font-size: 13.2px;
          color: #9D9E9E;
          letter-spacing: 0;
          width: 224.6rpx;
          margin-top: 2.4rpx;
        }

      }

      .white-box.a {
        position: absolute;
        right: 0;
        -webkit-clip-path: polygon(0 47%, 0 0, 100% 0, 100% 100%, 0 100%, 0 59%, 9% 53%);
        clip-path: polygon(0 47%, 0 0, 100% 0, 100% 100%, 0 100%, 0 59%, 9% 53%);
      }

      .white-box.b {
        position: absolute;
        -webkit-clip-path: polygon(100% 0, 100% 43%, 93% 51%, 100% 58%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 43%, 93% 51%, 100% 58%, 100% 100%, 0 100%, 0 0);
      }

      .white-box.c {
        position: absolute;
        right: 0;
        -webkit-clip-path: polygon(0 47%, 0 0, 100% 0, 100% 100%, 0 100%, 0 59%, 9% 53%);
        clip-path: polygon(0 47%, 0 0, 100% 0, 100% 100%, 0 100%, 0 59%, 9% 53%);
      }
    }

  }
}

// 学员作品
.student {
  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #3D3D3D;
      letter-spacing: 3.2rpx;
      margin-top: 42rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #00A4FF, #31DBFF);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
      margin-bottom: 34rpx;
    }
  }

  .swiper {
    .swiper-box {
      image {
        margin-left: 30rpx;
        margin-bottom: 10px;
      }
    }

    .wx-swiper-dot {
      opacity: 0.3;
      width: 50rpx;
      height: 10rpx;
      border-radius: 20rpx;
      margin: 0 8rpx !important;
      background-color: rgba($color: #035dec, $alpha: .3);
    }

  }

  .swiper.wx-swiper-dot-active {
    opacity: 1;
    width: 30rpx;
  }
}

// 就业
.work {
  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #3D3D3D;
      letter-spacing: 3.2rpx;
      margin-top: 100rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #00A4FF, #31DBFF);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
      margin-bottom: 34rpx;
    }
  }

  .item {
    position: relative;
    width: 750rpx;
    height: 280rpx;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 100rpx;
      height: 100rpx;
      background-color: #fff;
      border-radius: 50%;

      image {
        width: 70rpx;
        height: 70rpx;
      }
    }
  }

  .item.a {
    background-image: linear-gradient(to right, #51aaf4, #2dd9fe);

    .info {
      .a {
        padding-top: 88rpx;
        padding-left: 82rpx;
        font-size: 40rpx;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 4rpx 8rpx #0F95E9;
      }

      .b {
        padding-left: 82rpx;
        font-size: 32rpx;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 4rpx 8rpx #0F95E9;
      }
    }
  }

  .item.b {
    background-image: linear-gradient(to right, #ff7310, #feb031);
    margin: 20rpx 0;

    .info {
      padding-top: 90rpx;
      padding-left: 82rpx;

      .a {
        font-size: 40rpx;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 4rpx 8rpx #F2571F;
      }

      .b {
        font-size: 32rpx;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 4rpx 8rpx #F2571F;
      }
    }
  }

  .item.c {
    background-image: linear-gradient(to right, #ca5ffa, #f77ae6);

    .info {
      padding-top: 80rpx;
      padding-left: 82rpx;

      .a {
        font-size: 40rpx;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 4rpx 8rpx #AC21EB;
      }

      .b {
        font-size: 32rpx;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 4rpx 8rpx #AC21EB;
      }
    }
  }
}

// 师资
.teacher {
  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #3D3D3D;
      letter-spacing: 3.2rpx;
      margin-top: 42rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #F05555, #F0BF3F);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
      margin-bottom: 34rpx;
    }
  }

  .swiper {

    .item {
      position: relative;

      .picture {
        width: 600rpx;
        height: 622rpx;
      }

      .info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .name {
          font-size: 56rpx;
          color: #FFFFFF;
          letter-spacing: 8.86rpx;
          margin-left: 8%;
        }

        .address {
          font-size: 36rpx;
          color: #FFFFFF;
          letter-spacing: 5.7rpx;
        }
      }
    }

    .wx-swiper-dot {
      opacity: 0.3;
      width: 50rpx;
      height: 10rpx;
      border-radius: 20rpx;
      margin: 0 8rpx !important;
      background-color: rgba($color: #035dec, $alpha: .3);
    }

    .swiper.wx-swiper-dot-active {
      opacity: 1;
      width: 30rpx;
    }
  }

}

// 课程优势
.long {

  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #3D3D3D;
      letter-spacing: 3.2rpx;
      margin-top: 84rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #F05555, #F0BF3F);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
      margin-bottom: 34rpx;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      display: flex;
      margin-bottom: 20rpx;

      .left {
        width: 160rpx;
        height: 210rpx;
        background-image: linear-gradient(to bottom, #ffbd55, #ffcd43);
        display: flex;
        justify-content: center;
        align-items: center;

        .info {
          color: #ffffff;
          font-size: 120rpx;
        }

      }

      .left.one {
        background-image: linear-gradient(to bottom, #6199ff, #36b2ff);
      }

      .left.two {
        background-image: linear-gradient(to bottom, #ff778a, #ff73ac);
      }

      .left.three {
        background-image: linear-gradient(to bottom, #4eeac2, #45e7df);
      }

      .left.four {
        background-image: linear-gradient(to bottom, #f76a53, #fe9640);
      }

      .left.five {
        background-image: linear-gradient(to bottom, #d364f6, #f076e9);
      }

      .right {
        width: 496rpx;
        height: 174rpx;
        background-color: #fff;
        padding-top: 36rpx;
        padding-left: 38rpx;

        .name {
          font-size: 32rpx;
          color: #3D3D3D;
          letter-spacing: 0;
          line-height: 46rpx;
        }

        .desc {
          font-size: 26rpx;
          color: #747475;
          letter-spacing: 0;
          line-height: 46rpx;
        }
      }
    }

    .item.last {
      margin-bottom: 0;
    }
  }
}

// 联系
.contact {
  .top {
    width: 142rpx;
    margin: 0 auto;

    .title {
      font-size: 32rpx;
      color: #3D3D3D;
      letter-spacing: 3.2rpx;
      margin-top: 84rpx;
    }

    .line {
      width: 140rpx;
      height: 4rpx;
      background-image: linear-gradient(to right, #F05555, #F0BF3F);
      margin: 4rpx 0;
    }

    .eng {
      display: flex;
      justify-content: center;
      font-size: 24rpx;
      color: #9D9E9E;
      letter-spacing: 0;
      margin-bottom: 20rpx;
    }
  }

  .item-address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58rpx;

    image {
      width: 44rpx;
      height: 44rpx;
      margin-right: 20rpx;
    }

    .info {
      .title {
        font-size: 32rpx;
        color: #3D3D3D;
        letter-spacing: 0;
      }

      .desc {
        font-size: 28rpx;
        color: #3D3D3D;
        letter-spacing: 0;
        margin-top: 10rpx;
      }
    }
  }
}

.call {
  margin-top: 66rpx;
  margin-right: 20rpx;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25.6rpx;
  color: #FFFFFF;
  letter-spacing: 0;
  width: 84rpx;
  height: 84rpx;
  background-image: linear-gradient(-145deg, #FC7441 2%, #FFBF2E 100%);
  border-radius: 50%;
}

.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 32rpx;
  position: absolute;
  bottom: -230rpx;
  right: 3%;
  width: 84rpx;
  height: 52rpx;
  background-image: linear-gradient(-136deg, #3683FF 0%, #7B86FF 100%);
}